<div class="container">
    <mat-tab-group>
        <mat-tab label="Education">
            <div class="container scrolling">
                <div class="timeline">
                    <ul>
                        <li *ngFor="let edu of educationalDetails;">
                            <div class="content">
                                <div class="time">
                                    <h3>{{edu.startDate | date: 'MMM yyyy'}} - {{edu.endDate | date: 'MMM yyyy'}}</h3>
                                </div>
                                <h2>{{edu.courseName}}</h2>
                                <strong class="school">{{edu.schoolCollegeName}}</strong>
                                <span>
                                  <span *ngIf="edu.boardUniversityName === 'CBSE'">Board : {{edu.boardUniversityName}}</span>
                                  <span *ngIf="edu.boardUniversityName !== 'CBSE'">University : {{edu.boardUniversityName}}</span>
                                  <strong> &nbsp; | &nbsp; </strong>
                                  <span *ngIf="edu.percentage.includes('CGPA')">CGPA : {{edu.percentage}}</span>
                                  <span *ngIf="!edu.percentage.includes('CGPA')">Percentage : {{edu.percentage}}</span>
                                </span>
                            </div>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Work">
            <div class="container ">
                <div class="timeline ">
                    <ul>
                        <li *ngFor="let work of workDetails">
                            <div class="content">
                                <div class="time">
                                    <h3>{{work.startDate}} - {{work.endDate}}</h3>
                                </div>
                                <h2> {{work.designation}} </h2>
                                <strong class="school">{{work.organization}}</strong>
                                <span>{{work.skillset}}</span>
                            </div>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
