<div class="container aboutContainer" >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" *ngIf="personalInfo && aboutPageDescription">
            <strong class="myName">I'm {{personalInfo.name}} ,</strong>
            <p id="introduction1" *ngFor="let description of aboutPageDescription">
                {{description}}
            </p>
            <a class="btn btn-warning" [href]="resumeLink" target="_blank">Resume</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 innerContainer" *ngIf="personalInfo">
            <div class="myLogo">
                <img [src]="myLogo" class="card-img-top" alt="..." class="myPic">
            </div>
            <h4 class="mt-2 myName">{{personalInfo.name}}</h4>
            <div class="mailMobile">
                <a class="mail" [href]="emailHref" target="_blank">
                  {{personalInfo.email}}
                </a>
                <strong> &nbsp; | &nbsp; </strong>
                <a class="mobile" [href]="telHref" target="_blank">
                    {{personalInfo.mobile}}
                </a>
            </div>
            <div class="address">
              {{personalInfo.currentLocation}}
            </div>
        </div>
    </div>
</div>
