<div class="container homeContainer">
    <div class="row">
        <div class="col-12 col-md-6 col-sm-6 innerContainer">
            <img [src]="myLogo" alt="Not Found" class="mypic">
        </div>
        <div class="col-12 col-md-6 col-sm-6 innerContainer" *ngIf="personalInfo && homePageDescription">
            <span class="text-muted" style="font-weight: bold;" id="muted">Welcome to my portfolio ! </span>
            <h3 class="myName">I am <strong class="myName">{{personalInfo.name}}</strong></h3>
            <h4 class="summury" *ngFor="let description of homePageDescription">{{description}}</h4>
        </div>
    </div>
</div>

<!--<ngx-spinner name="homePageSpinner" type="ball-spin-clockwise" color="#055151" [fullScreen]="false" size="medium">Loading Data...</ngx-spinner>-->


