<div class="container homeContainer">
    <div class="row">
        <div class="col-12 col-md-6 col-sm-6 innerContainer">
            <img [src]="myLogo" alt="Not Found" class="mypic">
        </div>
        <div class="col-12 col-md-6 col-sm-6 innerContainer">
            <span class="text-muted" style="font-weight: bold;" id="muted">HELLO ! </span>
            <h3 class="myName">I am <strong class="myName">Raspreet singh Pasrija</strong></h3>
            <h4 class="summury">Determined hard-worker with the experience in developing software applications.</h4>
            <h5 class="interests">Long term interests include web applications and stock markets.</h5>
        </div>
    </div>
</div>